
InventoryManagement/obj/Debug/netstandard2.1/RazorDeclaration/InventoryManagement.pdb
InventoryManagement/obj/Debug/netstandard2.1/blazor/unlinked/InventoryManagement.dll
InventoryManagement/obj/Debug/netstandard2.1/blazor/unlinked/InventoryManagement.pdb
InventoryManagement/obj/Debug/netstandard2.1/compressed/brotli.manifest.json
InventoryManagement/obj/Debug/netstandard2.1/compressed/gzip.manifest.json
InventoryManagement/obj/Debug/netstandard2.1/InventoryManagement.csprojAssemblyReference.cache
InventoryManagement/obj/Debug/netstandard2.1/RazorDeclaration/InventoryManagement.pdb
InventoryManagement/obj/Debug/netstandard2.1/blazor/unlinked/InventoryManagement.dll
InventoryManagement/obj/Debug/netstandard2.1/blazor/unlinked/InventoryManagement.pdb
InventoryManagement/obj/Debug/netstandard2.1/compressed/brotli.manifest.json
InventoryManagement/obj/Debug/netstandard2.1/compressed/gzip.manifest.json
InventoryManagement/obj/Debug/netstandard2.1/InventoryManagement.csprojAssemblyReference.cache
InventoryManagement/obj/Debug/netstandard2.1/RazorDeclaration/InventoryManagement.pdb
