@inherits CommonGameFunctions


<div>
    <MatTable Items="Models"
              class="mat-elevation-z5"
              AllowSelection="true">
        <MatTableHeader>
            <th class="editButton">Edit</th>
            <th class="gameTitle">Title</th>
            <th class="gameDescription">Description</th>
        </MatTableHeader>
        <MatTableRow>
            <td><MatButton OnClick="() => EditGame(context.Id)">Edit</MatButton></td>
            <td>@context.Title</td>
            <td>@context.Description</td>
        </MatTableRow>
    </MatTable>
</div>

<style>
    .editButton {
        width: 5%;
    }

    .gameTitle {
        width: 20%;
    }

    .gameDescription {
        width: 75%;
    }

</style>