@inherits LayoutComponentBase

<div class="main">
    <div>
        <MatAppBarContainer>
            <MatAppBar Fixed="true">
                <MatAppBarRow>
                    <MatAppBarSection>
                        <MatIconButton Icon="menu"></MatIconButton>
                        <MatAppBarTitle>MatBlazor - Material Design components for Blazor</MatAppBarTitle>
                    </MatAppBarSection>
                    <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                        <MatIconButton Icon="favorite"></MatIconButton>
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>

            <MatAppBarContent>
                Content
            </MatAppBarContent>
        </MatAppBarContainer>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
