<NavLink class="navMenu" href="" @onclick="OnNavClicked">
    <span class="oi oi-home" aria-hidden="true"></span> Home
</NavLink>
<NavLink class="navMenu" href="inventory" @onclick="OnNavClicked">
    <MatIcon>@MatIconNames.Store</MatIcon> Inventory
</NavLink>
<NavLink class="navMenu" href="people" @onclick="OnNavClicked">
    <MatIcon>@MatIconNames.People</MatIcon> People
</NavLink>

<NavLink class="navMenu" href="games" @onclick="OnNavClicked">
    <MatIcon>@MatIconNames.Videogame_asset</MatIcon> Games
</NavLink>
<NavLink class="navMenu" href="movies" @onclick="OnNavClicked">
    <MatIcon>@MatIconNames.Movie</MatIcon> Movies
</NavLink>