@inherits CommonGameFunctions
@page "/games"


    <div class="gamesList">
        <div class="row">
            <div class="col-12 text-right">
                <GameSearch OnSearchGames="HandleGameSearch"></GameSearch>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-12 text-right">
                <MatButton OnClick="@AddGame" Label="Add" Icon="add"></MatButton>

            </div>

        </div>
        @if (_games != null && _games.Count() > 0)
        {
            <GamesGrid Models="_games"></GamesGrid>
        }
        else
        {
            <span>There are no records</span>
        }
    </div>