@page "/movies/{MovieId:int}"

<h3>Movie</h3>

<EditForm Model="_movie">
    <div class="row">
        <div class="col-2 text-right">
            <label>Movie Title:</label>
        </div>
        <div class="col-4">
            <InputText @bind-Value="_movie.Title"></InputText>
        </div>

        <div class="col-2 text-right">
            <label>Release Date:</label>
        </div>
        <div class="col-4">
            <InputDate TValue="DateTime?" @bind-Value="_movie.ReleaseDate"></InputDate>
        </div>
    </div>

    <div class="row">
        <div class="col-2 text-right">
            <label>Description:</label>
        </div>
        <div class="col-10">
            <InputTextArea @bind-Value="_movie.Description"></InputTextArea>
        </div>
    </div>
</EditForm>